<form class="{{cssClass}} {{actor.type}} agent" autocomplete="off">
  <header class="sheet-header">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </h1>
  </header>
</form>
